# Игнорировать все файлы и каталоги
*

# Исключить из игнорирования файлы readme.md и main.c
!readme.md
!main.c

# Исключить игнорирование всех каталоги, которые могут содержать readme.md и main.c
!*/

# Исключить игнорирование файлов внутри директорий
!*/readme.md
!*/main.c
